$main_color: #b2b2b2;
$sub_color: #FFFFFF;

h2,span{
	color: $main_color;
	padding:5px 20px;
}

.layout-center{
	margin-top: 150px;
	text-align: center;
}

// @image Exsample
.img{
	width: 200px;
	height: 200px;
	// background:url('@image/react-logo.png');
	// background-size: cover;
}