$main_color: #b2b2b2;
$sub_color: #FFFFFF;

h1{
	color: $main_color;
	padding:20px;
}

// @image Exsample
// .test-img{
// 	width: 1000px;
// 	height: 1000px;
// 	background:url('@image/exsampleImage');
// 	background-size: cover;
// }